<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    <%- include('./partials/nav.ejs')  %>

        <div class="blogs content">
            <h2>all blog</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quia ratione amet voluptatum veniam quis natus quisquam similique porro. Commodi velit, temporibus distinctio placeat officia eum in eligendi est autem.</p>
        </div>
</body>
<%- include('./partials/footer.ejs')  %>

</html>